@font-face {
	font-family: main;
	src: url('css/font/Graphik-Font-Family/GraphikRegular.otf');
}
@font-face {
	font-family: main-bold;
	font-weight: bold;
	src: url('css/font/Graphik-Font-Family/GraphikBold.otf');
}
/* Header Style */
/* Footer Style */
/* General Styling Across Various Pages */
/*General Styling for Page Structure */
/* General Styling for Page Elements */
/* End of General Styling */
/* Apply Job Style */
/* If No Expert Profile Page  */
/* My Jobs Page Styling  */
/* Find Job Filter Styling */
/* Applied Jobs Details Styling*/
/* Dashboard Page Styling  */
/* Login Page */
/* Profile-Creation */
/* Step 1 */
/* .PS-card-list {
    list-style-position: inside;
} */
/* Media query for minimum width of 1180px*/
/* footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    } */
/* Media query for minimum width of 768px and maximum width of 1180px */
/* Media query for minimum width of 481px and maximum width of 767px */
/* Media query for minimum width of 320px and maximum width of 667px */
/* Media query for minimum width of 280px and maximum width of 480px */
/* Other Media Queries for Responsiveness */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: main, serif !important;
}
nav {
	background-color: #e43232;
	border-radius: none;
	a {
		color: white;
		text-decoration: none;
	}
}
.navbar-header {
	color: white;
}
.nav {
	>li {
		>a {
			&:visited {
				color: white;
				text-decoration: none;
				outline: none;
				background-color: #e43232;
			}
			&:hover {
				color: white;
				text-decoration: none;
				outline: none;
				background-color: #e43232;
			}
			&:active {
				color: white;
				text-decoration: none;
				outline: none;
				background-color: #e43232;
			}
			&:focus {
				color: white;
				text-decoration: none;
				outline: none;
				background-color: #e43232;
			}
		}
	}
}
.navbar-brand {
	&:hover {
		color: white;
		text-decoration: none;
		outline: none;
		background-color: #e43232;
	}
	&:focus {
		color: white;
		text-decoration: none;
		outline: none;
		background-color: #e43232;
	}
}
.nav-dropdown-content {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 20px;
	background-color: white;
	>li {
		>a {
			&:hover {
				text-decoration: none;
				background-color: transparent;
				color: #e43232;
				cursor: pointer;
			}
		}
	}
}
#notification-dropdown {
	a {
		&:hover {
			text-decoration: none;
			background-color: transparent;
			color: #e43232;
			cursor: pointer;
		}
	}
	width: 550px;
	li {
		margin-left: 25px;
		&:hover {
			list-style: disc;
		}
		&::marker {
			font-size: 4rem;
			color: #e43232;
			margin-top: 0;
		}
	}
}
.dropdown-menu {
	>li {
		margin-top: 10px;
		font-size: 2rem;
		>a {
			padding: 15px 5px;
		}
	}
}
.notification-div {
	padding: 15px 5px;
}
.notification-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#job-activity-link {
	&:focus-visible {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:active {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:focus-within {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
}
#notification-link {
	&:focus-visible {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:active {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:focus-within {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
}
#profile-avatar-link {
	&:focus-visible {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:active {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
	&:focus-within {
		color: white;
		background-color: #e43232;
		text-decoration: none;
		outline: none;
	}
}
.avatar-image {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 5px;
}
.nav-icons {
	font-size: 1.8rem;
}
footer {
	background-color: #202020;
	color: white;
}
.copyright {
	background-color: #404040;
	text-align: center;
	padding: 10px;
}
.subscribe-btn {
	background-color: red;
	font-size: 1.2rem;
}
.QL-links {
	>li {
		>a {
			color: white;
		}
		margin-top: 15px;
	}
}
.main-footer {
	margin-top: 2%;
	margin-bottom: 2%;
	>div {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}
.social-media-links {
	>li {
		>a {
			background-color: white;
			color: #202020;
			border-radius: 50%;
			padding: 7px 12px;
		}
	}
}
body {
	background-color: rgb(99, 98, 98);
	font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif , Helvetica, sans-serif;
}
.job-title {
	color: black;
	font-size: 2rem;
	font-weight: bold;
	&:hover {
		color: #e43232;
		text-decoration: none;
		cursor: pointer;
	}
}
.black-font {
	color: black;
}
.lightgray-font {
	color: rgb(148, 147, 147);
}
.font-600 {
	font-weight: 600;
}
.white-background {
	background-color: white;
}
.red-background {
	background-color: #e43232;
	color: white;
}
.lightblue-font {
	color: royalblue;
}
.red-font {
	color: #e43232;
}
.white-font {
	color: #fff;
}
.bold-font {
	font-weight: bold;
}
.red-border {
	border: 2px solid #e43232;
}
.border-radius-5 {
	border-radius: 5px;
}
.apply-job-container {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.job-invitation-container {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.MP-single-container {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.apply-job-main {
	margin: 10px;
	padding-top: 10px;
}
.job-invitation-main {
	margin: 10px;
	padding-top: 10px;
}
.margin-10 {
	margin: 10px;
	padding-top: 10px;
}
.job-cards {
	border-bottom: 2px solid #e43232;
	margin-bottom: 15px;
}
.dashboard-job-cards {
	border-bottom: 2px solid #e43232;
	margin-bottom: 15px;
}
.job-card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.MP-double-container {
	display: grid;
	grid-template-columns: 70% 25%;
	justify-content: space-between;
	margin-bottom: 40px;
}
.MP-double-grid1 {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}
.MP-double-grid2 {
	text-align: center;
}
.MP-double-grid2-content {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	margin-top: 5px;
}
.job-details {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px;
}
.match-percent {
	color: #e43232;
	font-weight: 700;
}
.see-more {
	color: #e43232;
	border-style: none;
	background-color: transparent;
	font-weight: 700;
}
.more {
	display: none;
}
.JI-card-header {
	>h4 {
		font-weight: 700;
	}
}
.technology-list {
	>li {
		color: rgb(136, 133, 133);
		background-color: rgb(245, 243, 243);
		padding: 7px;
		border-radius: 5px;
		margin-right: 10px;
		margin-bottom: 10px;
		font-weight: 600;
	}
}
.rounded-border {
	border-radius: 30px;
}
.gray-background {
	background-color: #a19e9e;
	color: #fff;
}
.match-deadline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.hands-on-technology {
	>h5 {
		font-weight: 600;
		color: rgb(148, 147, 147);
	}
}
.MP-image {
	width: 100px;
	height: 100px;
	margin: 10px 0;
}
.select-profile-label {
	font-size: 1.1rem;
	color: rgb(148, 147, 147);
}
.main-header {
	font-size: 2rem;
	margin-left: 10px;
	margin-right: 15px;
}
.sort-by-dropdown {
	margin-right: 5px;
	padding: 5px;
	border-radius: 3px;
	border-style: 1px solid rgb(148, 147, 147);
	float: right;
}
.MP-pagination {
	>li {
		>a {
			margin-top: 5px;
			border-style: none;
			color: black;
			font-weight: 700;
			&:active {
				color: white;
				background-color: #e43232;
			}
			&:focus {
				color: white;
				background-color: #e43232;
			}
		}
	}
}
.JAL-pagination {
	>li {
		>a {
			&:active {
				color: white;
				background-color: #e43232;
			}
			&:focus {
				color: white;
				background-color: #e43232;
			}
		}
	}
}
.time-label {
	margin-left: 10px;
}
.AJD-main-container {
	width: 80%;
	margin: auto;
}
.dashboard-main-container {
	width: 80%;
	margin: auto;
}
.OJ-main-container {
	width: 80%;
	margin: auto;
}
.AJD-grid-container {
	display: grid;
	grid-template-columns: 20% 50% 20%;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-top: 20px;
}
.dashboard-grid-container {
	display: grid;
	grid-template-columns: 20% 50% 20%;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-top: 20px;
}
.OJ-grid-container {
	display: grid;
	grid-template-columns: 20% 50% 20%;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-top: 20px;
}
.AJD-grid1-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.AJD-grid2-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.AJD-grid3-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.dashboard-grid1-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.dashboard-grid2-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.dashboard-grid3-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.OJ-grid1-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.OJ-grid2-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.OJ-grid3-div1 {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.my-jobs-list {
	>a {
		border-style: none;
		padding-left: 1px;
		color: #e43232;
		font-weight: 600;
		>span {
			color: #e43232;
			background-color: transparent;
		}
	}
}
.profile-progress-bar {
	width: 80%;
	background-color: #e43232;
}
.profile-progress {
	height: 10px;
}
.profile-label {
	font-weight: 600;
}
.expert-div {
	border-bottom: 1px solid rgb(155, 153, 153);
	border-top: 1px solid rgb(155, 153, 153);
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 5px;
	margin-top: 7px;
}
.apply-cancel-btn {
	padding: 10px 25px;
	font-weight: 500;
}
.apply-submit-btn {
	padding: 10px 25px;
	font-weight: 500;
	color: white;
	background-color: #e43232;
	margin: 0 10px;
}
.apply-change-profile-btn {
	background-color: transparent;
	border: #e43232 1px solid;
	color: #e43232;
	font-weight: bold;
	padding: 10px 25px;
}
.apply-job-section2 {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}
.sec2-grid1 {
	>h5 {
		margin: 0;
	}
	>h4 {
		margin-top: 15px;
	}
}
.interested-btn {
	background-color: white;
	margin-bottom: 10px;
	font-weight: 600;
}
.my-job-tabs {
	border-bottom: 1px solid rgb(199, 196, 196);
	>li {
		text-align: center;
		padding: 20px 30px 15px 5px;
		>a {
			color: black;
			font-weight: bold;
			&:hover {
				text-decoration: none;
				cursor: pointer;
				color: black;
			}
			&:focus {
				text-decoration: none;
				cursor: pointer;
				color: black;
			}
			&:active {
				text-decoration: none;
				cursor: pointer;
				color: black;
			}
		}
		&:hover {
			color: #e43232;
			border-bottom: 2px solid #e43232;
		}
		&:focus {
			color: #e43232;
			border-bottom: 2px solid #e43232;
		}
		&:active {
			color: #e43232;
			border-bottom: 2px solid #e43232;
		}
	}
}
.create-expert-profile {
	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: black;
	}
	&:focus {
		text-decoration: none;
		cursor: pointer;
		color: black;
	}
	&:active {
		text-decoration: none;
		cursor: pointer;
		color: black;
	}
}
.job-status-tags {
	width: 220px;
}
.FJF-main {
	display: grid;
	grid-template-columns: 25% 70%;
	justify-content: space-between;
	margin-bottom: 40px;
}
.FJF-grid1 {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}
.FJF-grid2 {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
.keyword-input-group {
	>label {
		color: rgb(148, 147, 147);
		font-size: 1.2rem;
	}
	>input {
		padding: 10% 5%;
	}
}
.geography-input-group {
	>label {
		color: rgb(148, 147, 147);
		font-size: 1.2rem;
	}
	>input {
		padding: 10% 5%;
	}
}
.project-category-group {
	margin-top: 30px;
	>h4 {
		font-weight: 700;
	}
	>div {
		>label {
			font-size: 1.5rem;
		}
	}
}
.see-more-category {
	&:hover {
		text-decoration: none;
		color: #202020;
		cursor: pointer;
	}
	&:focus {
		text-decoration: none;
		color: #202020;
		cursor: pointer;
	}
}
.product-category-input {
	padding-right: 20px;
}
input[type='checkbox'] {
	accent-color: red;
}
input[type='radio'] {
	accent-color: red;
}
.x-btn {
	margin-left: 5px;
	padding: 0;
	border-style: none;
}
.dashboard-heading {
	color: white;
	font-weight: bold;
}
.dashboard-search-form {
	margin-top: 10px;
}
.my-expert-profile-list {
	>li {
		color: rgb(148, 147, 147);
	}
	border-bottom: 1px solid rgb(155, 153, 153);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.login-main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-container {
	background-color: #fff;
	width: 70%;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 40px;
}
.login-logo-section {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.login-form-section {
	flex: 2;
	padding: 20px;
}
.login-logo {
	max-width: 200px;
	height: 150px;
}
.log-sign {
	list-style: none;
	font-size: 1.5rem;
	margin: 20px 10px;
	font-weight: bold;
	li {
		display: inline;
		margin-right: 10px;
	}
	a {
		text-decoration: none;
		color: #404040;
		padding: 10px 0px;
		&:hover {
			border-bottom: #e43232 2px solid;
			color: #e43232;
		}
		&:active {
			border-bottom: #e43232 2px solid;
			color: #e43232;
		}
	}
}
.log-link-active {
	border-bottom: #e43232 2px solid;
	color: #e43232;
}
.login-form {
	width: 80%;
	padding: 20px 0px;
	label {
		color: #404040;
		font-size: 15px;
	}
	p {
		color: #404040;
	}
}
.login-form-group {
	margin: 20px auto;
	label {
		display: block;
		margin: 10px;
	}
	input {
		display: block;
		margin: 10px;
		width: 100%;
		background-color: #fff;
		border-style: none;
		border-bottom: #a19e9e 1px solid;
		padding: 10px 0px;
		font-size: 17px;
		&::placeholder {
			color: black;
		}
	}
}
.login-btn {
	width: 100%;
	background-color: #e43232;
	color: #fff;
	padding: 15px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	font-size: 17px;
}
.login-options {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	button {
		background-color: #fff;
		border: none;
		color: #e43232;
		font-size: 17px;
	}
}
.login-LI {
	background-color: #fff;
	border: none;
	color: dodgerblue;
	font-size: 17px;
}
.center-align {
	text-align: center;
	padding: 0px 20px;
}
.forgot-password-desc {
	padding: 2px 10px;
	line-height: 2;
}
.PC-container {
	width: 80%;
	margin: 20px auto;
}
.PC-main {
	display: grid;
	grid-template-columns: 28% 70%;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}
.PC-grid1 {
	background-color: white;
	border-radius: 5px;
}
.PC-grid2 {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
.profile-ratio-container {
	margin: 20px 20px 0px;
	background-color: #eceaea;
	border-radius: 5px;
	padding-bottom: 0;
}
.profile-ratio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	margin: 0px;
	p {
		margin: auto 5px;
	}
}
.profile-completion-progress {
	padding: 0;
	margin: 0;
	height: 10px;
}
.completion-progressbar {
	background-color: #e43232;
}
.PC-form-container {
	margin: 15px auto;
}
.PC-form-list {
	a {
		text-decoration: none;
		color: #a19e9e;
		font-weight: bold;
		padding: 20px;
		width: 100%;
		display: block;
		&:hover {
			background-color: #e43232;
			color: #fff;
		}
	}
  a.active{
    background-color: #e43232;
			color: #fff;
  }
}
.profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.upload-profile-btn {
	padding: 15px;
	border: #a19e9e 1px dashed;
	background-color: #fff;
	color: #a19e9e;
	margin: 20px;
}
.PC-grid2-div1 {
	margin: 20px;
	padding: 10px 10px 20px;
	p {
		font-weight: 600;
	}
}
.red-bottom-border {
	border-bottom: #e43232 1px solid;
}
.step2-grid2 {
	padding: 20px 10px;
}
.step3-grid2 {
	padding: 20px 10px;
}
.work-exp {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	.badge {
		background-color: white;
		color: #e43232;
	}
}
.upload-project-document {
	padding: 15px;
	border: #a19e9e 1px dashed;
	background-color: #fff;
	color: #a19e9e;
	margin: 20px auto;
}
.PS-body {
	background-image: url("images/rgw.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 500px;
}
.temp-text {
	margin: auto 10px;
}
.PS-container {
	width: 80%;
	margin: 20px auto;
}
.PS-main {
	display: grid;
	grid-template-columns: 70% 28%;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	margin-top: 250px;
}
.PS-grid1 {
	border-radius: 5px;
}
.PS-grid2 {
	border-radius: 5px;
}
.profile-completion-container {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.profile-completion {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.profile-completion-image {
	width: 100px;
	height: 100px;
}
.setup-profile-link {
	&:hover {
		text-decoration: none;
		color: #e43232;
	}
}
.profile-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.download-profile {
	background-color: #fff;
	color: #e43232;
	font-weight: 600;
}
.edit-profile {
	background-color: #fff;
	color: #a19e9e;
	padding: 10px 15px;
	border: #a19e9e 1px solid;
}
.pad-5 {
	padding: 5px;
}
.pad-10 {
	padding: 10px;
}
.pad-20 {
	padding: 20px;
}
.bio-section {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
}
.PS-cards {
	border: #a19e9e 1px solid;
	border-radius: 5px;
	margin: 20px 10px;
}
.delete-btn {
	border-radius: 50%;
}
.file-link {
	&:hover {
		text-decoration: none;
		color: #e43232;
	}
}
.PS-card-list {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	list-style-position: inside;
}
.medium-font-size {
	font-size: 17px;
}
.pink-bg {
	background-color: #f7dcdc;
}
input.check-font {
	width: 20px;
	height: 20px;
}
.progress {
	margin: 0px 20px;
}
.lightgray-bottom-border {
	border-bottom: #a19e9e 1px solid;
}
.side-margin-10 {
	margin-left: 10px;
	margin-right: 10px;
}
.side-margin-20 {
	margin-left: 20px;
	margin-right: 20px;
}
.vertical-margin-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.vertical-margin-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.vertical-pad-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.work-status {
	border: #e43232 1px solid;
	border-radius: 5px;
	margin: 20px;
}
.well-radio {
	border: #a19e9e 1px solid;
	padding: 20px;
	margin: 20px auto;
	font-size: 17px;
}
#step2-form-list {
	a {
		&:first-child {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(2) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step3-form-list {
	a {
		&:nth-child(-n+2) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(3) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step3-1-form-list {
	a {
		&:nth-child(-n+2) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(3) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step4-form-list {
	a {
		&:nth-child(-n+3) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(4) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step4-1-form-list {
	a {
		&:nth-child(-n+3) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(4) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step5-form-list {
	a {
		&:nth-child(-n+4) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(5) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step6-form-list {
	a {
		&:nth-child(-n+5) {
			color: black;
			span {
				color: #e43232;
			}
		}
	}
}
#step7-form-list {
	a {
		&:nth-child(-n+6) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(7) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step7-1-form-list {
	a {
		&:nth-child(-n+6) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(7) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step8-form-list {
	a {
		&:nth-child(-n+7) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(8) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step8-1-form-list {
	a {
		&:nth-child(-n+7) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(8) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step9-form-list {
	a {
		&:nth-child(-n+8) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(9) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
#step9-1-form-list {
	a {
		&:nth-child(-n+8) {
			color: black;
			span {
				color: #e43232;
			}
		}
		&:nth-child(9) {
			background-color: #e43232;
			color: #fff;
		}
	}
}
// #step1-form-list {
// 	a {
// 		&:first-child {
// 			background-color: #e43232;
// 			color: #fff;
// 		}
// 	}
// }
@media (max-width: 777px) {
	.nav-dropdown-content {
		>li {
			>a {
				color: white;
				&:hover {
					color: white;
					cursor: pointer;
					font-size: 2.2rem;
				}
			}
		}
	}
	#notification-dropdown {
		width: auto;
		li {
			margin-left: 15px;
			&::marker {
				font-size: 2rem;
				color: white;
			}
		}
		a {
			&:hover {
				color: white;
				cursor: pointer;
				font-size: 2.2rem;
			}
		}
	}
	.notification-div {
		>p {
			color: white;
		}
	}
	.notification-details {
		a {
			color: white;
		}
		small {
			color: white;
		}
	}
	.lightblue-font {
		color: rgb(159, 178, 235);
	}
}
@media (min-width: 768px) and (max-width: 1180px) {
	.avatar-image {
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	.nav-icons {
		font-size: 1.5rem;
	}
	.MP-navs {
		margin-left: -7px;
		>li {
			margin-right: -10px;
		}
	}
	.nav-menu-collapse {
		>li {
			margin-right: -10px;
		}
	}
	.AJD-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.dashboard-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.OJ-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.FJF-main {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.FJF-grid2 {
		margin-bottom: 20px;
	}
	.FJF-grid1 {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.keyword-input-group {
		>input {
			padding: 2%;
		}
	}
	.geography-input-group {
		>input {
			padding: 2%;
		}
	}
	.MP-double-container {
		display: grid;
		grid-template-columns: 60% 35%;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	.jobs-applied-grid1 {
		margin-bottom: 20px;
	}
	.jobs-applied-grid2 {
		margin-bottom: 20px;
	}
}
@media (min-width: 820px) and (max-width: 1024px) {
	.avatar-image {
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	.nav-icons {
		font-size: 1.5rem;
	}
	.MP-navs {
		>li {
			margin-right: -5px;
		}
	}
}
@media (min-width: 1180px) {
	.AJD-main-container {
		width: 95%;
		margin: auto;
	}
	.dashboard-main-container {
		width: 95%;
		margin: auto;
	}
	.OJ-main-container {
		width: 95%;
		margin: auto;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.AJD-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.dashboard-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.OJ-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.FJF-main {
		display: grid;
		grid-template-columns: 90%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.FJF-grid2 {
		margin-bottom: 20px;
	}
	.FJF-grid1 {
		display: grid;
		grid-template-columns: 80%;
		justify-content: center;
		margin-bottom: 20px;
	}
	.keyword-input-group {
		>input {
			padding: 2%;
		}
	}
	.geography-input-group {
		>input {
			padding: 2%;
		}
	}
	.jobs-applied-main {
		display: grid;
		grid-template-columns: 80%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.MP-double-container {
		display: grid;
		grid-template-columns: 80%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.jobs-applied-grid1 {
		margin-bottom: 20px;
	}
	.jobs-applied-grid2 {
		margin-bottom: 20px;
	}
	.MP-double-grid1 {
		margin-bottom: 20px;
	}
	.MP-double-grid2 {
		margin-bottom: 20px;
	}
}
@media (min-width: 320px) and (max-width: 667px) {
	.AJD-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.dashboard-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.OJ-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.FJF-main {
		display: grid;
		grid-template-columns: 95%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.FJF-grid1 {
		margin-bottom: 20px;
	}
	.FJF-grid2 {
		margin-bottom: 20px;
	}
	.jobs-applied-main {
		display: grid;
		grid-template-columns: 95%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.MP-double-container {
		display: grid;
		grid-template-columns: 95%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.jobs-applied-grid1 {
		margin-bottom: 20px;
	}
	.jobs-applied-grid2 {
		margin-bottom: 20px;
	}
	.MP-double-grid1 {
		margin-bottom: 20px;
	}
	.MP-double-grid2 {
		margin-bottom: 20px;
	}
}
@media (min-width: 280px) and (max-width: 480px) {
	.AJD-main-container {
		width: 90%;
		margin: auto;
	}
	.dashboard-main-container {
		width: 90%;
		margin: auto;
	}
	.OJ-main-container {
		width: 90%;
		margin: auto;
	}
	.AJD-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.dashboard-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.OJ-grid-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 20px;
	}
}
@media (min-width: 280px) and (max-width: 653px) {
	.FJF-main {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.FJF-grid1 {
		margin-bottom: 20px;
	}
	.FJF-grid2 {
		margin-bottom: 20px;
	}
	.jobs-applied-main {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.MP-double-container {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.jobs-applied-grid1 {
		margin-bottom: 20px;
	}
	.jobs-applied-grid2 {
		margin-bottom: 20px;
	}
	.MP-double-grid1 {
		margin-bottom: 20px;
	}
	.MP-double-grid2 {
		margin-bottom: 20px;
	}
	.JI-job-details {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
	}
	.job-details {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
	}
}
@media (min-width: 280px) and (max-width: 667px) {
	.sort-by-dropdown {
		float: left;
	}
}
@media (min-width:400px) and (max-width:673px) {
	.sort-by-dropdown {
		float: right;
	}
}
@media (min-width:335px) and (max-width:669px) {
	.main-header {
		float: left;
	}
}
@media (max-width:500px) {
	.apply-job-section2 {
		display: grid;
		grid-template-columns: auto;
		justify-content: space-between;
	}
}
